.trash {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid red;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    display: block;
    background: red;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &:after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 2px;
    height: 100%;
    display: block;
    background: red;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

.example-error {
  position: relative;

  &:after {
    content: 'HIBA';
    position: absolute;
    top: 100%;
    left: 45%;
    transform: translate(-45%, -100%);
    rotate: 45deg;
    font-size: 50px;
    color: #9d2626;
    z-index: 1;
  }
}

.box1 {
  display: inline-block;
  font-size: 20px;
  background: lightcoral;
  color: black;
}

.box2 {
  display: inline-block;
  font-size: 20px;
  line-height: 1;
  background: lightblue;
  color: black;
}

.visibility-tracked-element {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
}