<h1>VS Code</h1>

<br />
<h5>MAC OS (hotkeys)</h5>
<br />

<div>
  <ul>
    <b>Rearrange code:</b>
    <li>SHIFT + OPTION + F</li>
  </ul>
</div>

<div>
  <ul>
    <b>Local search:</b>
    <li>COMMAND + F</li>
  </ul>
</div>

<div>
  <ul>
    <b>Local replace:</b>
    <li>OPTION + COMMAND + F</li>
  </ul>
</div>

<div>
  <ul>
    <b>Global search:</b>
    <li>SHIFT + COMMAND + F</li>
  </ul>
</div>

<div>
  <ul>
    <b>Terminate terminal:</b>
    <li>CONTROL + C</li>
  </ul>
</div>

<div>
  <ul>
    <b>Copy line</b>
    <li>COMMAND + C</li>
  </ul>
</div>

<div>
  <ul>
    <b>Copy multi-line below</b>
    <li>SHIFT + OPTION + DOWN</li>
  </ul>
</div>

<div>
  <ul>
    <b>Close tab</b>
    <li>COMMAND + W</li>
  </ul>
</div>

<div>
  <ul>
    <b>Reopen closed tab</b>
    <li>COMMAND + SHIFT + T</li>
  </ul>
</div>

<br />

<h5>Settings</h5>

<div>
  <ul>
    <b>Auto rename tags</b>
    <li>View / Extensions</li>
    <li>Automatikusan átnevezi a záró tag-et, ha módosítjuk a nyitó tag-et</li>
  </ul>
</div>

<div>
  <ul>
    <b>Angular Language Service</b>
    <li>View / Extensions</li>
    <li>
      Automatikus kiegészítést, hibajelzést, és a sablonokban használt típusok
      ellenőrzését végzi
    </li>
  </ul>
</div>

<div>
  <ul>
    <b>Prettier - Code formatter</b>
    <li>View / Extensions</li>
    <li>
      Automatikus kódformázó, amely segít a kód konzisztens stílusban történő
      formázásában
    </li>
  </ul>
</div>

<div>
  <ul>
    <b>ESLint</b>
    <li>View / Extensions</li>
    <li>
      Kódellenőrző, amely segít betartani a kódolási szabályokat és a legjobb
      gyakorlatokat, különösen JavaScript és TypeScript esetén
    </li>
  </ul>
</div>

<div>
  <ul>
    <b>Bracket Pair Colorizer</b>
    <li>View / Extensions</li>
    <li>
      Kódellenőrző, amely segít betartani a kódolási szabályokat és a legjobb
      gyakorlatokat, különösen JavaScript és TypeScript esetén
    </li>
  </ul>
</div>

<div>
  <ul>
    <b>GitLens</b>
    <li>View / Extensions</li>
    <li>
      Git bővítmény, amely megmutatja a fájlok történetét, az utolsó
      módosításokat, és sok egyéb hasznos információt a verziókezelésről
    </li>
  </ul>
</div>
