<div style="padding-top: 30px;">
    <h5>Details</h5>
    <p>
        Turpis neque pretium nam tristique nostra suscipit pretium. Augue egestas consectetur ridiculus egestas dui per
        dapibus tristique inceptos. Sapien cubilia integer magnis nam justo placerat bibendum rutrum facilisis. Platea
        magnis dictum elit integer cras, senectus nunc. Curabitur phasellus mus taciti justo maximus ac nunc. Blandit
        aenean
        vel id fusce ad netus. Congue accumsan fames sit volutpat pellentesque risus cursus volutpat magna. Non mus dui
        ad
        dis nec ornare neque. Aliquet proin elit placerat sollicitudin integer.
    </p>

    <p [changeToGreen]="true">
        Nascetur accumsan penatibus ac lobortis eu leo nascetur ut. Eleifend iaculis senectus mi senectus velit cras
        lectus.
        Neque sit sapien vel augue ex sed? Gravida feugiat at hendrerit luctus varius eleifend potenti. Laoreet justo
        lobortis imperdiet sociosqu mattis. Dui risus penatibus neque lacinia, aliquet enim massa imperdiet.
    </p>
</div>