<ng-container *ngIf="tempSwitcher === 'default'">
    <div [@slideToggle]="selectedImage()" class="image">
        <ng-container [ngSwitch]="selectedImage()">
            <img *ngSwitchCase="1" src="assets/imgs/slider/slider_1.jpg" loading="lazy" alt="A neon frog" />
            <img *ngSwitchCase="2" src="assets/imgs/slider/slider_2.jpg" loading="lazy" alt="A dog on a surfboard" />
            <img *ngSwitchCase="3" src="assets/imgs/slider/slider_3.jpg" loading="lazy"
                alt="A chinchilla with sunglasses" />
            <img *ngSwitchCase="4" src="assets/imgs/slider/slider_4.jpg" loading="lazy"
                alt="A cool cat wearing a jacket" />
        </ng-container>
    </div>

    <nav>
        <button (click)="previous()" [disabled]="this.selectedImage() === 1">
            Previous Image
        </button>
        <button (click)="next()" [disabled]="this.selectedImage() === 4">
            Next Image
        </button>
    </nav>
</ng-container>

<ng-container *ngIf="tempSwitcher === 'params'">
    <div [@slideToggleDynamic]="{
        value: selectedImage(),
        params: {
            leaveEnd: animationDirection() === 'right' ? '100%' : '-100%',
            enterStart: animationDirection() === 'right' ? '-100%' : '100%'
        }
    }" class="image">
        <ng-container [ngSwitch]="selectedImage()">
            <img *ngSwitchCase="1" src="assets/imgs/slider/slider_1.jpg" loading="lazy" alt="A neon frog" />
            <img *ngSwitchCase="2" src="assets/imgs/slider/slider_2.jpg" loading="lazy" alt="A dog on a surfboard" />
            <img *ngSwitchCase="3" src="assets/imgs/slider/slider_3.jpg" loading="lazy"
                alt="A chinchilla with sunglasses" />
            <img *ngSwitchCase="4" src="assets/imgs/slider/slider_4.jpg" loading="lazy"
                alt="A cool cat wearing a jacket" />
        </ng-container>
    </div>

    <nav>
        <button (click)="previous()" [disabled]="this.selectedImage() === 1">
            Previous Image
        </button>
        <button (click)="next()" [disabled]="this.selectedImage() === 4">
            Next Image
        </button>
    </nav>
</ng-container>

<ng-container *ngIf="tempSwitcher === 'reuse'">
    <div [@slideToggleDynamicReuseable]="{
        value: selectedImage(),
        params: {
            leaveEnd: animationDirection() === 'right' ? '100%' : '-100%',
            enterStart: animationDirection() === 'right' ? '-100%' : '100%',
            hiddenScale: .25
        }
    }" class="image">
        <ng-container [ngSwitch]="selectedImage()">
            <img *ngSwitchCase="1" src="assets/imgs/slider/slider_1.jpg" loading="lazy" alt="A neon frog" />
            <img *ngSwitchCase="2" src="assets/imgs/slider/slider_2.jpg" loading="lazy" alt="A dog on a surfboard" />
            <img *ngSwitchCase="3" src="assets/imgs/slider/slider_3.jpg" loading="lazy"
                alt="A chinchilla with sunglasses" />
            <img *ngSwitchCase="4" src="assets/imgs/slider/slider_4.jpg" loading="lazy"
                alt="A cool cat wearing a jacket" />
        </ng-container>
    </div>

    <nav>
        <button (click)="previous()" [disabled]="this.selectedImage() === 1">
            Previous Image
        </button>
        <button (click)="next()" [disabled]="this.selectedImage() === 4">
            Next Image
        </button>
    </nav>
</ng-container>

<ng-container *ngIf="tempSwitcher === 'disable'">
    <div [@slideToggleDynamicReuseable]="{
        value: selectedImage(),
        params: {
            leaveEnd: animationDirection() === 'right' ? '100%' : '-100%',
            enterStart: animationDirection() === 'right' ? '-100%' : '100%',
            hiddenScale: .25
        }
    }" [@.disabled]="animationDisabled()" class="image">
        <ng-container [ngSwitch]="selectedImage()">
            <img *ngSwitchCase="1" src="assets/imgs/slider/slider_1.jpg" loading="lazy" alt="A neon frog" />
            <img *ngSwitchCase="2" src="assets/imgs/slider/slider_2.jpg" loading="lazy" alt="A dog on a surfboard" />
            <img *ngSwitchCase="3" src="assets/imgs/slider/slider_3.jpg" loading="lazy"
                alt="A chinchilla with sunglasses" />
            <img *ngSwitchCase="4" src="assets/imgs/slider/slider_4.jpg" loading="lazy"
                alt="A cool cat wearing a jacket" />
        </ng-container>
    </div>

    <nav>
        <button (click)="previous()" [disabled]="this.selectedImage() === 1">
            Previous Image
        </button>
        <button (click)="next()" [disabled]="this.selectedImage() === 4">
            Next Image
        </button>
    </nav>
</ng-container>

<!--ng-template #imageTmp let-image>
    <img [src]="'assets/imgs/slider/slider_' + image + '.jpg'" />
</!--ng-template>

<ng-template #imageTmp let-image>
    <img [src]="'assets/imgs/slider/slider_' + image + '.jpg'" />
</ng-template>
<div-- class="preload">
    <ng-container *ngFor="let img of [1,2,3,4]">
        <ng-container *ngTemplateOutlet="imageTmp; context: { $implicit: img }"></ng-container>
    </ng-container>
</div-->