@import "mixin";

.menu {
  button {
    transition: .2s font-weight;
    box-shadow: inset 0px 0px 5px 1px #212121;
    border: 1px solid #212121;

    &:hover {
      transition: .2s font-weight;
      font-weight: bold;

      &:not(.active) {
        border-color: #212121;
      }
    }

    &.active {
      box-shadow: 0px 0px 10px 2px #ffc107;
      font-weight: bold;
      cursor: default;
    }

    &:disabled {
      border-color: #212121;
    }
  }
}

.dropdow-menu {
  @include breakpoint(md) {
    display: none;
  }

  .dropdown-menu-icon {
    display: inline-block;
    padding: 10px;
    cursor: pointer;


    &:after {
      content: none;
    }

    .line {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
      pointer-events: none;

      &.opened:first-child {
        transform: translate(0, 11px) rotate(-45deg);
      }

      &.opened:nth-child(2) {
        opacity: 0;
      }

      &.opened:last-child {
        transform: translate(0, -11px) rotate(45deg);
      }
    }
  }

  .dropdown-menu {
    max-height: calc(100vh - 61px);
    overflow: scroll;
  }
}